en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.2.0/en_core_web_sm-3.2.0-py3-none-any.whl
pandas==1.2.5
numpy~=1.21.4
tensorflow-cpu~=2.7.0
pytelegrambotapi
sklearn